---
import stylex from '@stylexjs/stylex';
import FooterLayout from '../layouts/footer-layout.astro';
import { Container } from '../components/grid';
import Header from '../components/header';
import { Row, Col } from '../components/grid';
import Heading from '../components/heading';
import Stack from '../components/stack';
import Paragraph from '../components/paragraph';
import Button from '../components/button';
import Section from '../components/section';
import { Card, CardHeader } from '../components/card';
import Aspect from '../components/aspect';
import OrganizeYourFinancesIllustration from '../assets/organize-your-finances.svg';
import VisualizeYourProgressIllustration from '../assets/visualize-your-progress.svg';
import CreateMonthlyBudgetsIllustration from '../assets/create-monthly-budgets.svg';
import GooglePlayBtn from '../assets/google-play-btn.svg';
import AppStoreBtn from '../assets/app-store-btn.svg';
import HeroIllustration from '../assets/hero-illustration.svg';
import HeroBackground from '../assets/hero-background.svg';
import PiggyBankIllustration from '../assets/piggy-bank.svg';
import EnvelopeIllustration from '../assets/envelope.svg';

const currentPath = new URL(Astro.request.url).pathname;

export const lg: LgMaxMediaQuery = '@media (max-width: 1024px)';

export const styles = stylex.create({
	hero: {
		position: 'relative',
		overflow: 'hidden',
	},
	heroBgShape: {
		position: 'absolute',
		top: {
			default: null,
			[lg]: 'auto',
		},
		bottom: {
			default: 0,
		},
		left: '50%',
		transform: 'translateX(-50%)',
	},
	heroContent: {
		position: 'relative',
	},
	heroMainCol: {
		paddingTop: '1.666rem',
	},
	heroIllustrationContainer: {
		position: 'relative',
		minHeight: '18.708rem',
		display: {
			default: null,
			[lg]: 'none',
		}
	},
	heroIllustration: {
		position: 'absolute',
		top: 0,
		bottom: 0,
	},
	illustration: {
		maxWidth: '100%',
		maxHeight: '100%',
	},
	storeBtn: {
		display: 'block',
  },
  ctaRow: {
    display: 'flex',
    gap: '1.25rem',
    flexWrap: 'wrap',
    padding: '0 0.625rem'
  },
  signUpBtn: {
    display: 'flex',
    alignItems: 'center',
    justifyContent: 'center',
    height: '60px',
  }
});
---

<FooterLayout>
	<section {...stylex.attrs(styles.hero)}>
		<HeroBackground {...stylex.attrs(styles.heroBgShape)} role="presentation" />
		<div {...stylex.attrs(styles.heroContent)}>
			<Container>
				<Header client:idle currentPath={currentPath} />
				<Row>
					<Col span={8} break="lg">
						<div {...stylex.attrs(styles.heroMainCol)}>
							<Stack gap="md">
								<Stack gap="sm">
									<Heading level="h1" size={40}>Take Control of Your Personal Finances</Heading>
									<Heading level="h2" size={32} fontWeight='regular'>Your Personal Finance Copilot</Heading>
								</Stack>
								<Row>
									<Col span={11}>
										<Paragraph>Are you tired of fragile spreadsheets and complicated apps? Budget Warden is an intuitive and powerful tool designed to help you manage your personal finances hassle-free.</Paragraph>
									</Col>
								</Row>
								<Row>
                <div {...stylex.attrs(styles.ctaRow)}>
                    <Button x={styles.signUpBtn} href="https://app.budgetwarden.com/sign-up">Sign Up</Button>
                  <a href="https://apps.apple.com/us/app/budget-warden/id6741514133" target="_blank" rel="noopener">
                    <AppStoreBtn {...stylex.attrs(styles.storeBtn)} aria-label="download on the app store" />
                  </a>
                  <a href="https://play.google.com/store/apps/details?id=com.lazarovco.budgetwarden&pcampaignid=web_share" target="_blank" rel="noopener">
                    <GooglePlayBtn {...stylex.attrs(styles.storeBtn)} aria-label="get it on google play" />
                  </a>
								</div>
							</Stack>
						</div>
					</Col>
					<Col>
						<div {...stylex.attrs(styles.heroIllustrationContainer)}>
							<HeroIllustration {...stylex.attrs(styles.heroIllustration)} aria-label="illustration of an individual male analyzing his budget on paper with charts, calculators and a calendar in the background" />
						</div>
					</Col>
				</Row>
			</Container>
		</div>
	</section>
	<Container>
		<Section>
			<Stack gap="lg">
				<Heading level="h2" size={40}>With Budget Warden You Will</Heading>
				<Row>
					<Col span={4} break="md" halfBreak="lg">
						<Card>
							<Stack gap="md">
								<CardHeader>
									<div style="height: 180px;"> 
										<CreateMonthlyBudgetsIllustration {...stylex.attrs(styles.illustration)} aria-label="screenshot from the app demonstrating the monthly budget selector (dropdown)" />
									</div>
								</CardHeader>
								<Stack gap="sm">
									<Heading level="h3" size={30}>Create monthly budgets</Heading>
									<Paragraph size={26}>and enjoy the simplicity of a fixed monthly budgeting cycle.</Paragraph>
								</Stack>
							</Stack>
						</Card>
					</Col>
					<Col span={4} break="md" halfBreak="lg">
						<Card>
							<Stack gap="md">
								<CardHeader>
									<OrganizeYourFinancesIllustration height="180" {...stylex.attrs(styles.illustration)} aria-label="screenshot from the app demonstrating the option to create custom budget categories like food, utilities and housing in the expenses category" />
								</CardHeader>
								<Stack gap="sm">
									<Heading level="h3" size={30}>Organize your finances</Heading>
									<Paragraph size={26}>with customizable categories that fit your lifestyle.</Paragraph>
								</Stack>
							</Stack>
						</Card>
					</Col>
					<Col span={4} break="md" halfBreak="lg">
						<Card>
							<Stack gap="md">
								<CardHeader>
									<VisualizeYourProgressIllustration height="180" {...stylex.attrs(styles.illustration)} aria-label="screenshot from the app showing the data visualization and the scales component that displays the balance between the planned income and the left to budget amount" />
								</CardHeader>
								<Stack gap="sm">
									<Heading level="h3" size={30}>Visualize your progress</Heading>
									<Paragraph size={26}>with scales and charts to understand your finances.</Paragraph>
								</Stack>
							</Stack>
						</Card>
					</Col>
				</Row>
			</Stack>
		</Section>
		<Section>
			<Stack gap="lg">
				<Row>
					<Col span={8} break="lg">
						<Stack gap="sm">
							<Heading level="h2" size={40}>Methodologies</Heading>
							<Paragraph size={28}>We have meticulously researched and analyzed various personal budgeting approaches to develop an app grounded in proven, <br>effective methods.</Paragraph>
						</Stack>
					</Col>
				</Row>

				<Row>
					<Col span={6} break="md">
						<Stack gap="md">
							<PiggyBankIllustration aria-label="illustration of a piggy bank with a coin" />
							<Stack gap="sm">
								<Heading level="h3" size={30}>
									Zero-Sum Budgeting
								</Heading>
								<Paragraph size={24}>
									Zero-sum budgeting is a financial method where every dollar of your income is assigned a specific purpose. It's like creating a detailed plan for how to spend every penny.
								</Paragraph>
							</Stack>
						</Stack>
					</Col>
					<Col span={6} break="md">
						<Stack gap="md">
							<EnvelopeIllustration aria-label="illustration of a envelope with a dollar bill inside of it" />
							<Stack gap="sm">
								<Heading level="h3" size={30}>
									Envelope Budgeting
								</Heading>
								<Paragraph size={24}>
									Envelope budgeting involves assigning specific cash amount s to different spending categories. Once an envelope is empty, spending in that category stops until the next budgeting period.
								</Paragraph>
							</Stack>
						</Stack>
					</Col>
				</Row>
			</Stack>
		</Section>
	</Container>
</FooterLayout>

<script type="application/ld+json" set:html={JSON.stringify({
	"@context": "https://schema.org",
	"@type": "SoftwareApplication",
	"name": "Budget Warden",
	"applicationCategory": "Finance",
	"applicationSubCategory": "Personal Finance, Budgeting",
	"operatingSystem": "iOS, Android, Web",
	"offers": {
		"@type": "Offer",
		"price": 0,
		"currency": "USD",
	}
})} />

<script type="application/ld+json" set:html={JSON.stringify({
	"@context": "https://schema.org",
	"@type": "Organization",
	"url": "https://www.budgetwarden.com",
	"logo": "https://www.budgetwarden.com/uploads/logo.svg",
	"name": "Budget Warden",
	"description": "Budget Warden is a personal finance and budget tracking application for iOS, Android and Web.",
	"email": "contact@budgetwarden.com",
})} />
