---
import stylex from '@stylexjs/stylex';
import { colors } from '../styles/theme.stylex';
import CookieConsent from '../components/cookie-consent.astro';

export const styles = stylex.create({
	body: {
		width: '100%',
		height: '100%',
		margin: 0,
		backgroundColor: colors.ash200,
		fontSize: '24px',
	},
	content: {
		overflow: 'hidden',
	},
});

const {
	title = 'Budget Warden',
	description = 'Budget Warden is an intuitive and powerful personal finance tool designed to simplify budgeting. Manage your finances effortlessly with customizable categories, visual progress tracking, and proven budgeting methods like Zero-Sum and Envelope budgeting. Take control of your financial future today. Sign up for free!'
} = Astro.props;
---

<!doctype html>
<html lang="en" {...stylex.attrs(styles.body)}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description}>
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Google Tag Manager -->
		<script is:inline type="text/partytown">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-KSZF3MFV');</script>
		<!-- End Google Tag Manager -->
	</head>
	<body {...stylex.attrs(styles.body)}>
		<main {...stylex.attrs(styles.content)}>
			<slot />
		</main>
		<CookieConsent />
	</body>
</html>

<style is:global>
	*, *:before, *:after {
		box-sizing: border-box;
		font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
	}
</style>
